@using ICONEXT;
@model IEnumerable<ICONEXT.Models.Project_Phase>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<Project_Phase> displaydata = ViewData["Results"] as IEnumerable<Project_Phase>;
}


    
   
    
    <!--
    <h1>TEST database</h1>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Tasks</th>
            <th>Phase</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Usage</th>

        </tr>
        @foreach (var item in displaydata)
        {
    <tr>
        <td>@item.Name</td>
        <td>@item.Tasks</td>
        <td>@item.Phase</td>
        <td>@item.FromDate</td>
        <td>@item.EndDate</td>
        <td>@item.Usage</td>

    </tr>
        }

    </table>
        -->
